<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Welcome!</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="Content/SyntaxHighlighter/shCore.css" rel="stylesheet" />
    <link href="Content/SyntaxHighlighter/shThemeDefault.css" rel="stylesheet" />
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">Home</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                    <a class="page-scroll" href="#music">Music</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Hi! I'm Matt.</h1>
                        <p class="intro-text">This is where I'll take about myself.<br>How about now?</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <h2>About Me</h2>
            <h2><img src="img/Placeholder 250x250.png" /></h2>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p>This is where I'll talk about what I like to do.</p>
                <p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
                <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p>
                <div class="col-lg-8 col-lg-offset-2">
           <a href="~/img/Matthew Clutts Resume.pdf" class="btn btn-default btn-lg">Download Resume</a>
                </div>
            </div>
        </div>
        <div class="row">
            <a href="#portfolio" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
    </section>

    <!-- Portfolio Section -->
    <section id="portfolio" class="container content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr />
                </div>
            </div>
            <!---Modals--->
            <div class="col-sm-3 portfolio-item">
                <a href="" data-toggle="modal" data-target="#modal1">
                    <img src="img/Placeholder 150x150.png" />
                </a>
            </div>


            <!---Modal 2-->
            <div class="col-sm-3 portfolio-item">
                <a href="" data-toggle="modal" data-target="#modal2">
                    <img src="img/Placeholder 150x150.png" />
                </a>
            </div>

            <!---Modal 3-->
            <div class="col-sm-3 portfolio-item">
                <a href="" data-toggle="modal" data-target="#modal3">
                    <img src="img/Placeholder 150x150.png" />
                </a>
            </div>
            <!--Modal 4-->
            <div class="col-sm-3 portfolio-item">
                <a href="" data-toggle="modal" data-target="#modal4">
                    <img src="img/Placeholder 150x150.png" />
                </a>
            </div>
        <div class="row">
           <a href="#music" class="btn btn-circle page-scroll">
               <i class="fa fa-angle-double-down animated"></i>
           </a>
        </div>
    </section>

    <!---What I'm Listening to-->
    <section id="music" class="container content-section text-center">
        <div class="container">
            <div class="row">
                <h2>What I'm Listening To</h2>
                <hr />
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="artist">
                        <a href="http://store.mymorningjacket.com/collections/music/products/z-cd" target="_blank">
                            
                            <img class="imgmusic" src="~/img/mymorningjacket_z.jpg" />
                            <p>My Morning Jacket - <em>Z</em></p>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="artist">
                        <a href="https://secure.dominorecordco.com/cart/?site=29&ses_key=6i0n7r7l&item=9411" target="_blank">
                            <img src="~/img/anco_paintingwith.jpg" class="imgmusic" />
                            <p>Animal Collective - <em>Painting With</em></p>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="artist">
                        <a href="https://megamart.subpop.com/releases/fleet_foxes/helplessness_blues" target="_blank">
                            <img src="~/img/fleetfoxes_helplessnessblues.jpg" class="imgmusic" />
                            <p>Fleet Foxes - <em>Helplessness Blues</em></p>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="artist">
                        <a href="https://privateisland.bandcamp.com/album/a-good-look-ep" target="_blank">
                            <img src="img/pisland_agoodlook.jpg" class="imgmusic" />
                            <p>Private Island - <em>A Good Look</em></p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <a href="#contact" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>

    </section>

    

 
    <!-- Contact Section -->
    
   <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Me</h2>
                <hr />
                <p>Feel free to email me to if you like what you see and would like to work together or to just say hello!</p>
               <form>
                    <div class="form-group">
                        <label for="exampleInputName2">Name</label>
                        <input type="text" class="form-control" id="exampleInputName2" placeholder="Please enter your name.">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Please enter a valid e-mail address.">
                    </div>
                    <label for="message">Message</label>
                    <textarea class="form-control" id="message" rows="3" placeholder="Message"></textarea>
                    <button type="submit" class="btn btn-default">Send</button>
               </form>
                </div>
            </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Your Website 2014</p>
        </div>
    </footer>


    <!---Modals-->
<section class="jscalc">
    <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h1 class="modal-title" id="myModalLabel">Integer Calculator</h1>
                </div>
                <div class="modal-body col-sm-4">
                    <label>Enter 5 Numbers<input type="text" name="num1" id="num1" /></label><br/>
                    <input type="submit" value="Maximum!" onclick="maxnumber();" />
                    <input type="submit" value="Minimum!" onclick="minnumber();" />
                    <input type="submit" value="Mean!" onclick="meannumber();" />
                    <input type="submit" value="Sum!" onclick="sumnumber();" />
                    <input type="submit" value="Product!" onclick="prdnumber();" />
                    <textarea id="jscalc-output"></textarea>
                        <!--JavaScript of 5int-->

                    <script type="text/javascript">
                        function getvaluecalc() {
                            return document.getElementById('num1').value;
                        }

                        function intoutput(output) {
                            var intoutput = document.getElementById('jscalc-output');
                            intoutput.value = output;
                        }
                            
                            
                        function maxnumber() {
                            var str = getvaluecalc();
                                console.log(str);
                                var numArr = str.split(",");
                                var highest = 0;

                                    for (var i = 0; i < numArr.length; i++) {
                                            numArr[i] = parseInt(numArr[i]);
                                        if (highest < numArr[i])
                                            highest = numArr[i];

                                    }
                                 intoutput(highest);
                          }

                        function minnumber() {
                                var str = getvaluecalc();
                                console.log(str);
                                var numArr = str.split(",");
                                var lowest = numArr[0];

                                for (var i = 0; i < numArr.length; i++) {
                                    numArr[i] = parseInt(numArr[i]);
                                    if (lowest > numArr[i])
                                        lowest = numArr[i];
                                }
                                intoutput(lowest);
                            }

                            function meannumber() {
                                var str = getvaluecalc();
                                console.log(str);
                                var numArr = str.split(",");
                                var sumnum = 0;
                                var mean = 0;

                                for (var i = 0; i < numArr.length; i++) {
                                    numArr[i] = parseInt(numArr[i]);
                                    sumnum = sumnum + numArr[i];
                                }
                                mean = sumnum / numArr.length;
                                intoutput(mean);
                            }

                            function sumNumber() {
                                var str = getvaluecalc();
                                console.log(str);
                                var numArr = str.split(",");
                                var sumnum = 0;

                                for (var i = 0; i < numArr.length; i++) {
                                    numArr[i] = parseInt(numArr[i]);
                                    sumnum = sumnum + numArr[i];
                                }
                                intoutput(sumnum);
                            }

                            function prdnumber() {
                                var str = getvaluecalc();
                                console.log(str);
                                var numArr = str.split(",");
                                var prdnum = 1;
                                for (var i = 0; i < numArr.length; i++) {
                                    numArr[i] = parseInt(numArr[i]);
                                    prdnum = prdnum * numArr[i];
                                }
                                intOutput(prdnum);
                            }
                    </script>
                </div>
                <div class="modal-footer no-margin">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
               <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h1 class="Factorial!" id="myModalLabel">Factorial!</h1>
               </div>
               <div class="row">
               <div class="modal-body col-md-6">
                   <label>Enter a number:<input type="text" id="num2" name="num2"></label>
                   <input type="submit" value="Factorial!" onclick="factorial();" />
                   <textarea id="some-fac-func"></textarea>
                </div>
                <div class="col-md-6">
                   <pre class="brush: js">
                   <script type="text/javascript">
    function factorial() {
        var str = document.getElementById('num2').value;
        console.log(str);
        var somefac = 1;
        for (var i = 1; i <= str; i++) {
            somefac = somefac * i;
        }
        intoutput(somefac);
    }
                    </script>
                    </pre>
                </div>
                </div>
               <div class="modal-footer no-margin">
               </div>
            </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" col-sm-6>
                <div class="modal-header">              
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h1 class="modal-title" id="myModalLabel">FizzBuzz</h1>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="modal-body">
                            <p>What does this look like?  Words words words words words words</p>
                            <label>Enter 2 numbers between 1 - 100:<input type="text" id="num3" name="num3"></label>
                            <input type="submit" value="Run!" onclick="fizzbuzz();" />
                            <textarea id="fizzbuzzout"></textarea>
                                <div id="fizzbuzzfunc"></div>
                        </div>
                     </div>
                    <div class="modal-body">
                        <div class="col-md-6">
                        <pre class="brush: js"> 
                        <script type="text/javascript">
         
                                function fizzBuzz() {
                                    var str = document.getElementById('num3').value;
                                    console.log(str);
                                    var numArr = str.split(",");
                                    var fizzRemain = 1;
                                    var buzzRemain = 1;
                                    var fizzBuzzRemain = 1;
                                    var fizz = numArr[0];
                                    var buzz = numArr[1];
                                    var fizzBuzz = fizz * buzz;
                                    var output = "";
                                    output += "";

                                    for (var i = 1; i <= 100; i++) {
                                        numArr[i] = parseInt(numArr[i]);
                                        fizzRemain = i % fizz;
                                        buzzRemain = i % buzz;
                                        fizzBuzzRemain = i % fizzBuzz;
                                        if (fizzBuzzRemain === 0) {

                                            output += "FizzBuzz ";
                                        }
                                        else if (fizzRemain === 0) {

                                            output += "Fizz "
                                        }
                                        else if (buzzRemain === 0) {

                                            output += "Buzz "
                                        }
                                        else {
                                            output += i + " "
                                        }

                                    }
                                    document.getElementById('fizzbuzzout').value = output;
                                }
                        </script>
                        </pre>
                    </div>
                    </div>
                </div>
                <div class="modal-footer no-margin">
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h1 class="modal-title" id="myModalLabel">Palindrome Checker</h1>
                </div>
                <div class="modal-body col-sm-12">
                    <label>Enter a Word:<input type="text" id="num4" name="num4"></label>
                    <input type="submit" value="Check!" onclick="palindrome();" />
                    <textarea id="palicheck"></textarea> 
                    <script type="text/javascript">

                        function palindrome() {
                            var str = document.getElementById('num4').value;
                            console.log(str);
                            strrev = str.split('').reverse().join('');
                            /*if (str == strrev) {
                                window.alert("Yes, " + str + " is a Palindrome!")
                            }
                            else {
                                window.alert("No, " + str + " is not a Palindrome!")
                            }*/
                            var somevalue = (str == strrev) ? "Yes, " + str + " is a Palindrome!" : "No, " + str + " is not a Palindrome!";
                            document.getElementById('palicheck').value = somevalue;
                        }
                    </script>
                </div>
                <div class="modal-footer no-margin">
                </div>
            </div>
        </div>
    </div>
</section>



        <!-- jQuery -->
        <script src="js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
        <!-- Plugin JavaScript -->
        <script src="js/jquery.easing.min.js"></script>
        <!-- Custom Theme JavaScript -->
        <script src="js/grayscale.js"></script>



        <script src="Scripts/SyntaxHighlighter/shCore.js"></script>
        <script src="Scripts/SyntaxHighlighter/shBrushJScript.js"></script>
        <script type="text/javascript">
            SyntaxHighlighter.all();
        </script>
    

</body>
</html>
